<ion-card *ngFor="let cityPlace of cityPlaces; let i = index" (click)="selectedPlace.emit(cityPlace); selectedIndex = i" mode="ios" style="height: 100px;">
  <ion-grid class="ion-no-padding" style="height: 100px;">
    <ion-row style="height: 100px;">
      <ion-col size="4" class="ion-no-padding" style="height: 100px;">
        <img [src]="cityPlace.image" height="100%">
      </ion-col>
      <ion-col size="8" style="height: 100px;">

        <ion-card-content>
          <ion-grid>
            <ion-row>
              {{cityPlace.title}}
            </ion-row>
            <ion-row>
              <ion-button color="primary" size="small">More</ion-button>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
